input::placeholder {
  color: #ffffff78;
}

.fist-image:hover {
  opacity: 0.2;
}

.modal-fade-enter-active,
.modal-fade-leave-active {
  transition: opacity 0.5s;
  transition: all 0.5s;
}

.modal-fade-enter,
.modal-fade-leave-to {
  opacity: 0;
}

.clear-icon {
  transition: transform 0.3s ease;
}

.clear-icon:hover {
  transform: rotate(45deg);
}